<div id="bugpage" class="container">
  <p class="h1 text-center my-3 text-bg-dark form-border">Bugs</p>
    <div class="row justify-content-center">
        <a href="bugs/createbug" id="create-bug" class="btn btn-success btn-lg my-2 col-md-4">Create Bug</a>
        {{#eq user.role 'manager'}}
            <a href="addmember" id="add-member" class="btn btn-success btn-lg my-2 mx-2 col-md-4">Add Member</a>
        {{/eq}}
        {{#inArray roles user.role}}
            <a href="summary" id="summary" class="btn btn-success btn-lg my-2 mx-2 col-md-4">View Summary</a>
        {{/inArray}}
    </div>
  <div id="filter" class="card column mb-3 text-bg-light">
      <div class="col-md-2">
            <select id="toSort" class="form-select form-control">
                <option value="none">None</option>
                <option value="H2L">High To Low</option>
                <option value="L2H">High To Low</option>
            </select>
      </div>
      <div class="col-md-2">
            <select id="filterPriority" class="form-select form-control" multiple>
                <option value="none">None</option>
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
            </select>
      </div>
      <div class="col-md-2">
            <select id="filterStatus" class="form-select form-control" multiple>
                <option value="none">None</option>
                <option value="todo">To Do</option>
                <option value="inprogress">In Review</option>
                <option value="inprogress">In Progress</option>
                <option value="inprogress">In Testing</option>
                <option value="inprogress">Completed</option>
            </select>
      </div>
      <div class="controls col-md-4">
          <input id="search" type="text" class="form-control-md col-md-12" placeholder="Enter search text">
      </div>
      <button id="search-button" class="btn btn-primary">Search</button>
  </div>
  <div id="bug-section">
    {{#each bugs}}
        <div class="card text-center {{getBugColor priority}} mb-3" data-id={{_id}}>
        <div class="card-header h3">
            {{title}}
            <span class="badge bg-secondary float-end">{{status}}</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{description}}</p>
            <a href="bugs/{{_id}}" class="btn btn-lg btn-primary">View</a>
        </div>
        </div>
    {{/each}}
  </div>
</div>