<div class="container">
  <p class="h1 text-center my-3 text-bg-dark form-border">Bugs</p>
    <div class="row justify-content-center">
        <a href="bugs/createbug" id="create-bug" class="btn btn-success btn-lg my-2 col-md-4">Create Bug</a>
        {{#eq user.role 'manager'}}
            <a href="addmember" id="add-member" class="btn btn-success btn-lg my-2 mx-2 col-md-4">Add Member</a>
        {{/eq}}
    </div>
  <div id="filter" class="card column mb-3 text-bg-light">
      <div class="col-md-3">
          <select class="form-select">
          <option value="high" selected>High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
          </select>
      </div>
      <div class="controls col-md-5">
          <input id="event-name" type="text" name="event-name" class="form-control-md col-md-12" placeholder="Enter search text">
      </div>
      <button id="search" class="btn btn-primary btn-lg col-md-2">Search</button>
      <div id="loader" class="col-md-1" hidden>
          <div class="spinner-border"></div>
      </div>
  </div>
  {{#each bugs}}
      <div class="card text-center {{getBugColor priority}} mb-3" data-id={{_id}}>
      <div class="card-header h3">
          {{title}}
          <span class="badge bg-secondary float-end">{{status}}</span>
      </div>
      <div class="card-body">
          <p class="card-text">{{description}}</p>
          <a href="bugs/{{_id}}" class="btn btn-lg btn-primary">View</a>
      </div>
    </div>
  {{/each}}
</div>